.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    min-height: 90vh;
}

.Form {
    flex-direction: column;
    position: relative;
    display: flex;
    width: 350px;
    padding: 40px 40px 60px;
    background: #131419;
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
                5px 5px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 437px) {
    .Form {
        width: 320px;
    }
    .Form h1 {
        font-size: 27px;
        letter-spacing: 1px;
    }
}

@media (max-width: 414px) {
    .Form {
        width: 270px !important;
    }
    .Form h1 {
        font-size: 25px !important;
        letter-spacing: 1px;
    }
    .Form .inputBox {
        height: 42px !important;
        margin-top: 24px !important;
    }
}

@media (max-width: 375px) {
    .Form {
        width: 248px !important;
    }
    .Form h1 {
        font-size: 24px !important;
        letter-spacing: 1px;
    }
    .Form .inputBox {
        height: 40px !important;
    }
}

@media (max-width: 360px) {
    .Form {
        width: 255px;
    }
    .Form h1 {
        font-size: 21px;
        letter-spacing: 0.5px;
    }
    .Form .inputBox {
        height: 43px;
        margin-top: 27px;
        font-size: 16px;
    }
    .Form .sign-btn {
        height: 43px;
        margin-top: 28px;
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .Form {
        width: 335px;
    }
    .Form h1 {
        font-size: 28px;
    }
    .Form .inputBox {
        height: 52px;
    }
    .Form .sign-btn {
        height: 52px;   
    }
}

@media (max-width: 768px) {
    .Form {
        width: 435px;
    }
    .Form h1 {
        font-size: 38px;
    }
    .Form .inputBox {
        height: 62px;
        font-size: 21px;
    }
    .Form .sign-btn {
        height: 62px; 
        font-size-adjust: 23px;  
    }
}

.Form h1 {
    color: #c7c7c7;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.Form .inputBox {
    margin-top: 20px;  
    height: 50px;
    background: #131419;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.Form .sign-btn {
    margin-top: 20px;  
    width: 100%;
    height: 50px;
    background: #131419;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
                2px 2px 6px rgba(0, 0, 0, 0.8);
}

.Form .sign-btn:active {
    margin-top: 20px;  
    width: 100%;
    height: 50px;
    background: #131419;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #006c9c;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.Form .inputBox::placeholder {
    color: #555;
    font-size: 18px;
}

.forget {
    margin-top: 30px;
    color: #555;
}

.forget i {
    color: #ff0047;
    cursor: pointer;
}